.container-fluid {
    height: 76vh;
}

mat-form-field {
    width: 100%;
}

label {
    width: 100%;
}

.mat-card-subtitle {
    font-size: large;
}

.btn-outline-dark:hover:disabled {
    background-color: white !important;
    color: darkred !important;
}

.btn-outline-dark:disabled {
    border-color: darkred !important;
    color: darkred !important;
}

.right {
    position: relative;
    float: right;
}


