<div class="container-fluid">
    <form *ngIf="postCourseForm" [formGroup]="postCourseForm" (ngSubmit)="onSubmit()">
        <button type="button" mat-icon-button matSuffix (click)="close()" class="right">
            <i class="material-icons">
                clear
            </i>
        </button>
        <mat-card-title class="mb-1 mt-1">New course</mat-card-title>
        <hr>
        <div class="row">
            <mat-form-field class="col-sm-8">
                <label>
                    <input matInput placeholder="Course Name" type="text" formControlName="courseName">
                </label>
                <mat-error *ngIf="postCourseForm.get('courseName')?.errors">
                    {{getErrorMessage('courseName')}}
                </mat-error>
            </mat-form-field>
            <mat-form-field class="col-sm-4">
                <label>
                    <input matInput placeholder="Course code" type="text" formControlName="code">
                </label>
                <mat-error *ngIf="postCourseForm.get('code')?.errors">
                    {{getErrorMessage('code')}}
                </mat-error>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <label>
                    <textarea matInput placeholder="Course Description" name="courseDescription" type="text"
                              formControlName="courseDescription"></textarea>
                </label>

                <mat-error *ngIf="postCourseForm.get('courseDescription')?.errors">
                    {{getErrorMessage('courseDescription')}}
                </mat-error>
            </mat-form-field>
        </div>
        <mat-card class="shadow-none p-0">
            <mat-card-subtitle class="mb-0 mt-1">Programs
                <!--                <mat-error *ngIf="postCourseForm.get('programs')?.errors">-->
                <!--                    select a program-->
                <!--                </mat-error>-->
            </mat-card-subtitle>
            <br>
            <div class="row">
                <div class="col-12">
                    <div class="row">
                        <div class="col-3" *ngFor="let program of programs" formGroupName="programs">
                            <mat-checkbox color="primary" value="{{program}}" formControlName="{{program}}">
                                {{program}}
                            </mat-checkbox>
                        </div>
                    </div>
                </div>
            </div>

        </mat-card>
        <div>
            <mat-form-field>
                <mat-select placeholder="Year of study" formControlName="year">
                    <mat-option value="{{year}}" *ngFor="let year of years">{{year}}</mat-option>
                </mat-select>
                <mat-error *ngIf="postCourseForm.get('year')?.errors">
                    {{getErrorMessage('year')}}
                </mat-error>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <mat-select placeholder="Semester" formControlName="semester">
                    <mat-option value="{{semester}}" *ngFor="let semester of semesters">{{semester}}</mat-option>
                </mat-select>
                <mat-error *ngIf="postCourseForm.get('semester')?.errors">
                    {{getErrorMessage('semester')}}
                </mat-error>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <mat-select placeholder="Course Type" formControlName="courseType">
                    <mat-option value="{{type}}" *ngFor="let type of types">{{type}}</mat-option>
                </mat-select>
                <mat-error *ngIf="postCourseForm.get('courseType')?.errors">
                    {{getErrorMessage('courseType')}}
                </mat-error>
            </mat-form-field>
        </div>
        <div class="row">
            <input type="submit" class="btn btn-outline-dark w-100 m-4"
                   [disabled]="postCourseForm.invalid">
        </div>
    </form>
</div>
