<div *ngIf="course">
    <div class="row">
        <div *ngIf="course.courseName" class="col h6">
            {{course.courseName}}
        </div>
        <div *ngIf="course.code" class="col font-weight-light">
            {{course.code}}
        </div>
    </div>
    <div class="row">
        <div *ngIf="course.description" class="col font-weight-light">{{course.description}}</div>
        <div *ngIf="course.users" class="col font-weight-light">Followers: {{course.users.size}}</div>
    </div>
</div>
