<div class="container-fluid  pt-2">
    <form [formGroup]="postPostForm" (ngSubmit)="onSubmit()">
        <button type="button" mat-icon-button matSuffix (click)="close()" class="right">
            <i class="material-icons">
                clear
            </i>
        </button>
        <mat-card-title class="mb-1 mt-1">Reply to thread</mat-card-title>
        <hr>
        <div>
            <mat-form-field>
                <label>
                    <input matInput placeholder="Title" type="text" formControlName="title">
                </label>
                <mat-error *ngIf="postPostForm.get('title')?.errors">
                    {{getErrorMessage('title')}}
                </mat-error>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <label>
                    <textarea matInput placeholder="Enter text here..." type="text"
                              formControlName="content"
                              matTextareaAutosize matAutosizeMinRows=10
                              matAutosizeMaxRows="25"
                    ></textarea>
                </label>
                <mat-error *ngIf="postPostForm.get('content')?.errors">
                    {{getErrorMessage('content')}}
                </mat-error>
            </mat-form-field>
        </div>
        <div class="row">
            <input type="submit" class="btn btn-outline-dark w-100 m-4"
                   [disabled]="postPostForm.invalid">
        </div>
    </form>
</div>
