.container-fluid {
    margin-top: 2%;
    border: 1px rebeccapurple solid;
    padding: 5vh 10px;
    width: 50%;
    background-color: white;
    opacity: 0.8;
    height: 83%;

}

hr {
    width: 50%;
    margin-left: 8%;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#login-label {
    color: rebeccapurple;
}


.btn-outline-dark:hover:disabled {
    background-color: white !important;
    color: darkred !important;
}

.btn-outline-dark:disabled {
    border-color: darkred !important;
    color: darkred !important;
}

.purple-background {
    background-image: url("http://azuretwilight.org/images/themes/azure_twilight/background_space_purple.png");
}
