<div class="container-fluid">

    <div class="row">
        <app-multilevel-hover-dropdown class="col-auto" [courses]="courses"></app-multilevel-hover-dropdown>
    </div>
    <hr>
    <div *ngIf="!courses">
        <mat-spinner class="d-flex m-auto mt-xl-5 "></mat-spinner>
    </div>
    <div *ngIf="courses">
        <ul class="list-group">
            <li *ngFor="let course of courses" class="list-group-item p-2">
                <app-course [course]="course"></app-course>
            </li>
        </ul>
    </div>
</div>

