<!--<div class="container-fluid">-->
<!--    <p>Courses</p>-->
<!--    <hr>-->
<!--        <div *ngIf="courses">-->
<!--            <ul>-->
<!--                <li *ngFor="let course of courses">-->
<!--                    <div class="row">-->
<!--                        <div *ngIf="course.name" class="col-sm-2">{{course.name}}</div>-->
<!--                        <div *ngIf="course.code" class="col-sm-2">{{course.code}}</div>-->
<!--                    </div>-->
<!--                    <div *ngIf="course.description">-->
<!--                        {{course.description}}-->
<!--                    </div>-->
<!--                    <br>-->
<!--                </li>-->
<!--            </ul>-->
<!--        </div>-->
<!--</div>-->

<div *ngIf="mockCourse" class="container">
    <div class="row">
        <div class="col-sm-2 text-right" *ngIf="mockCourse.name">{{mockCourse.name}}</div>
        <div class="col-sm-2" *ngIf="mockCourse.code">{{mockCourse.code}}</div>
    </div>
    <div *ngIf="mockCourse.description">
        {{mockCourse.description}}
    </div>
</div>
<div class="text-uppercase">asdasdasd</div>
asd
