<form [formGroup]="searchForm">
    <div class="input-group">
        <input id="search-box" class="form-control" formControlName="searchTerm"
               placeholder="Find user by username..."/>
    </div>
    <div *ngIf="userSearchResult.length!=0" id="result">
        <br/>
        <table class="table">
            <thead class="thead-dark">
            <th>USERNAME</th>
            <th>ROLE</th>
            </thead>
            <tbody>
            <tr *ngFor="let user of userSearchResult">
                <td><a [routerLink]="['/details', user.username]">{{user.username}}</a></td>
                <td>
                    <mat-radio-group>
                        <mat-radio-button *ngFor="let role of roles"
                                          name="{{user.username}}"
                                          value="{{role}}"
                                          [checked]="user.role==role"
                                          [disabled]="user.username == loggedInUsername()"
                                          (change)="radioChangedHandler($event, user.username)"
                                          class="pl-2" color="primary">
                            {{role}}
                        </mat-radio-button>
                    </mat-radio-group>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</form>
