<div class="dropdown">
    <button class="btn dropdown-toggle btn-outline-dark" type="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
        Classes
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <!--FIRST YEAR START-->
        <a class="dropdown-item" href="#">
            <div class="dropdown">
                <a data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    First Year
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">
                        <div class="dropdown">
                            <a data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">
                                Mandatory
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <!--TODO:// filter na courses i router link da se podesi toj call da vrakja toa isto so filter na start stranata-->
                                <!--TODO:// !IMPORTANT da se ocluchi kolku i koi nivoa ke gi ima dropdownot da ne bidat mnogu leveli itn-->
                                <a class="dropdown-item" routerLink='start/{{course.code}}'
                                   *ngFor="let course of getSubjectsByYearAndProgram(1,Program.KNI)">{{course.courseName}}</a>
                            </div>
                        </div>
                    </a>

                    <a class="dropdown-item" href="#" *ngFor="let program of programs">
                        <div class="dropdown">
                            <a data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">
                                {{program}}
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <!--TODO:// filter na courses i router link da se podesi toj call da vrakja toa isto so filter na start stranata-->
                                <a class="dropdown-item" routerLink='/start/{{course.code}}'
                                   *ngFor="let course of courses">{{course.courseName}}</a>
                            </div>
                        </div>
                    </a>

                </div>
            </div>
        </a>
        <!--FIRST YEAR END-->
        <!--SECOND YEAR START-->
        <a class="dropdown-item" href="#">
            <div class="dropdown">
                <a data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Second Year
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </div>
        </a>
        <!--SECOND YEAR END-->
        <!--THIRD YEAR START-->
        <a class="dropdown-item" href="#">
            <div class="dropdown">
                <a data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Third Year
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </div>
        </a>
        <!--THIRD YEAR END-->
        <!--FOURTH YEAR START-->
        <a class="dropdown-item" href="#">
            <div class="dropdown">
                <a data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Fourth Year
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </div>
        </a>
        <!--FOURTH YEAR END-->
    </div>
</div>
