.btn-xsm {
    width: 70%;
    height: 100%;
}

.section {
    margin-top: 1%;
    border: darkgray 1px solid;
}

.admin-color {
    color: red;
}

.moderator-color {
    color: green;
}

.user-color {
    color: black;
}

.like {
    background-color: rebeccapurple;
    color: white;
}

.center {
    vertical-align: center;
    height: 100%;
    line-height: 250%;
}
