<div class="mt-2 shadow pl-4 p-2">
    <h3>{{selectedCourse.length != 0 ? selectedCourse : 'Threads'}}</h3>
    <hr>
    <div>
        <section class="section">
            <label class="margin">Threads per page:</label>
            <mat-radio-group [(ngModel)]="numberOfPostsByPage"
                             (change)="onValueChange()"
                             class="mt-2" color="primary">
                <mat-radio-button class="margin" value="10">10</mat-radio-button>
                <mat-radio-button class="margin" value="25">25</mat-radio-button>
                <mat-radio-button class="margin" value="50">50</mat-radio-button>
            </mat-radio-group>
        </section>
        <button mat-raised-button (click)="openDialog()">New Thread</button>

    </div>
    <hr>
    <div *ngIf="!threads">
        <mat-spinner class="d-flex m-auto mt-xl-5"></mat-spinner>
    </div>
    <div *ngIf="threads">
        <ul class="list-group">
            <li *ngIf="threads.length == 0" class="list-group-item-info list-unstyled">
                No threads for this course yet.
            </li>
            <li *ngFor="let thread of threads" class="list-group-item">
                <app-thread [thread]="thread"></app-thread>
            </li>
        </ul>
    </div>
</div>

