/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

.btn-outline-dark:hover {
    background-color: rebeccapurple !important;
    color: white !important;;
    border-color: lightgray !important;;
}

.btn-outline-dark {
    border-color: rebeccapurple !important;;
    color: rebeccapurple !important;;
}

html, body {
    height: 100%;
    margin: auto;
}

.purple-background {
    background: url("http://azuretwilight.org/images/themes/azure_twilight/background_space_purple.png") no-repeat;
}

app-root {
    display: block;
    height: 100%;
}
