.container-fluid {
    margin-top: 10%;
    border: 1px rebeccapurple solid;
    padding: 5vh 10px;
    width: 40%;
    background-color: white;
    opacity: 0.8;
    height: 40%;
}

hr {
    width: 50%;
    margin-left: 8%;

}

#login-label {
    color: rebeccapurple;
}


html, body {
    height: 100%;
}

.purple-background {
    background-image: url("http://azuretwilight.org/images/themes/azure_twilight/background_space_purple.png");
}
