<div class="purple-background h-100 d-flex">
    <div class="container-fluid purple-scrollbar ">
        <div class="mt-auto mb-auto w-100">
            <div class="row" id="login-label">
                <span class="col-sm-3 offset-1 h3">Login</span>
            </div>
            <hr>
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <!--USERNAME-->
                <div class="row">
                    <mat-form-field class="col-sm-10 offset-1">
                        <label>
                            <input autofocus matInput placeholder="Enter username" formControlName="username" required>
                        </label>
                        <mat-error *ngIf="loginForm.get('username')?.errors">
                            {{getErrorMessage('username')}}
                        </mat-error>
                    </mat-form-field>
                </div>
                <!--PASSWORD-->
                <div class="row">
                    <mat-form-field class="col-sm-10 offset-1">
                        <label>
                            <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'"
                                   required
                                   formControlName="password" autocomplete="on">
                        </label>
                        <mat-error *ngIf="loginForm.get('password')?.errors">
                            {{getErrorMessage('password')}}
                        </mat-error>

                        <button mat-icon-button type="button" matSuffix (click)="hide = !hide"
                                [attr.aria-label]="'Hide password'"
                                [attr.aria-pressed]="hide">
                            <i class="material-icons">{{hide ? 'visibility_off' : 'visibility'}}</i>
                        </button>
                    </mat-form-field>
                </div>
                <div class="row mt-3">
                    <input type="submit" class="btn btn-outline-dark col-4 offset-4" [disabled]="loginForm.invalid"
                           value="Login">
                </div>
            </form>
        </div>
    </div>
</div>
