.container-fluid {
    margin-top: 7%;
    border: 1px rebeccapurple solid;
    padding: 5vh;
    width: 40%;
    background-color: white;
    opacity: 0.8;
    overflow-y: scroll;
    overflow-x: hidden;
    justify-content: center;
    display: flex;
    height: fit-content;
}

mat-form-field {
    width: 100%;
}

label {
    width: 100%;
}

hr {
    width: 50%;
    margin-left: 8%;
}

/*Medium*/
@media only screen and (max-width: 800px) {
    .container-fluid {
        width: 80%;
        margin-top: 10%;
        height: 45%;

    }

    button[type="submit"] {
        margin-left: 33%;
    }
}

@media only screen and (max-height: 800px) {
    .container-fluid {
        margin-top: 5%;
        height: 65%;

    }
}

/*Small*/
@media only screen and (max-width: 575px) {
    mat-form-field {
        margin: 0;
    }

    button[type="submit"] {
        margin-left: 32%;
    }
}

@media only screen and (max-height: 575px) {
    .container-fluid {
        margin-top: 2%;
        height: 80%;
    }
}

#login-label {
    color: rebeccapurple;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.purple-background {
    background-image: url("http://azuretwilight.org/images/themes/azure_twilight/background_space_purple.png");
    background-size: cover;
}

.btn-outline-dark:hover:disabled {
    background-color: white !important;
    color: darkred !important;
}

.btn-outline-dark:disabled {
    border-color: darkred !important;
    color: darkred !important;
}

.purple-scrollbar::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

.purple-scrollbar::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}

.purple-scrollbar::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: rebeccapurple;
}
