.container-fluid {
    margin-top: 10%;
    border: 1px rebeccapurple solid;
    padding: 5vh 10px;
    width: 30%;
}

hr {
    width: 50%;
    margin-left: 8%;

}

#login-label {
    color: rebeccapurple;
}


